@import "tailwindcss";

@theme {
  --color-primary-blue: #040812;
  --color-primary-red: #d32f2f;
  --color-accent-blue: #152c55;
  --color-accent-red: #b71c1c;
  --color-tech-cyan: #00e5ff;
}

@layer base {
  body {
    @apply bg-primary-blue text-slate-100 antialiased selection:bg-accent-red selection:text-white overflow-hidden;
  }
}

.font-teko {
  font-family: var(--font-teko), sans-serif;
}

.font-rajdhani {
  font-family: var(--font-rajdhani), sans-serif;
}
